:root {
  --bg: #0b0b0b;
  --card: #151311;
  --orange: #ff8c32;
  --text: #ffffff;
  --gray: #9f9f9f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--text);
}
h1 {
  font-family: "Times New Roman", Times, serif;
  margin: 2rem auto 0;
  font-size: 4.5rem;
  text-align: center;
  font-weight: bolder;
}
.logo {
  background-image: url(Assets/logo.png);
  width: 15%;
  height: 8%;
  object-fit: cover;
  margin: 0.5rem auto 0.5rem;
  display: flex;
}
.logo img {
  margin: 0 auto 0;
  width: 100%;
  height: 100%;
  align-items: center;
}
.container {
  display: grid;
  grid-template: 50%;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 0;
  width: 90%;
  height: 75%;
  gap: 1.5rem;
  place-items: center;
}
.container .card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  background-color: var(--card);
  border: 2px solid rgb(255, 140, 50, 0.25);
  transition: all 0.2s linear;
}
.container .card:hover {
  border: 1px solid var(--orange);
  box-shadow:
    inset 0px -5px 15px rgba(255, 140, 50, 0.25),
    inset 0px -5px 15px rgba(255, 140, 50, 0.25);
}

.container .card h3 {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}
.container .card p {
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-family: "roboto";
  margin: 0;
  color: var(--gray);
}
.container .card .line {
  width: 4rem;
  height: 1.5px;
  background-color: var(--orange);
  margin: 1rem 0;
}
.container .card h2 {
  font-weight: 500;
  font-family: "roboto";
  color: var(--orange);
}
.chefContainer {
  box-shadow:
    0px 0px 15px rgba(255, 140, 50, 0.25),
    0px 0px 15px rgba(255, 140, 50, 0.25);
  margin: 2rem auto 2rem;
  display: flex;
  height: 65%;
  width: 90%;
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: var(--card);
}
.chefContainer .dish_img {
  height: 100%;
  width: 28%;
}
.chefContainer .dish_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.chefContainer .content {
  position: relative;
  margin-left: 2rem;
  padding: 2rem;
  width: 45%;
  height: 100%;
}
.chefContainer .content h4 {
  letter-spacing: 4px;
  font-family: "roboto";
  font-weight: 400;
  color: var(--orange);
  margin: 0 0 1rem 0;
}
.chefContainer .content h2 {
  font-size: 3rem;
}
.chefContainer .content p {
  color: var(--gray);
  font-family: "roboto";
  font-weight: 400;
  margin: 2rem 0;
  line-height: 1.7;
}
.chefContainer .content button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.2s linear;
}
.chefContainer .content button:active {
  transform: scale(0.8);
}
.chefContainer .content button span {
  padding-left: 1.5rem;
  font-weight: 400;
}

.chefContainer .content .leaf {
  height: 100%;
  width: 500px;
  position: absolute;
  /* background-color: #ffabab; */
  top: 0;
  left: 70%;
}
.chefContainer .content .leaf img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#leaf {
  mix-blend-mode: difference;
  opacity: 0.3;
}
footer {
  margin-top: 3.5rem;

  border-top: 2px solid #ff8c32;
  font-family: "roboto";
  display: flex;
  width: 100%;
  height: 13%;
  align-items: center;
  justify-content: space-around;
}
footer .info {
  display: flex;
  align-items: center;
}
footer .info ul {
  display: flex;
  gap: 3rem;
}
footer .info ul :first-child {
  list-style: none;
}
footer .info ul li {
  padding-left: 2rem;
}
footer .info ul li::marker {
  margin-right: 5rem;
  color: var(--orange);
}
footer .info {
  display: flex;
}
footer .info .circle {
  margin-left: 1rem;
  color: var(--orange);
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--orange);
  border-radius: 50%;
  align-items: center;
}
