* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100dvw;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
  background: radial-gradient(circle at top, #1f2435, #090b13 60%);
  color: #111;
}

.dashboard-shell {
  width: 100%;
  height: 100%;
  padding: 50px 200px;
}

.dashboard-grid {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 22% 20% 7% 27% 22%;
  grid-template-rows: 29% 24% 7% 18% 23%;
  grid-template-areas:
    "progress metric metric users team"
    "progress hero hero hero team"
    "agency hero hero hero team"
    "agency hero hero hero logo"
    "agency font design design logo";
  gap: 10px;
  padding-bottom: 30px;
}

.card {
  border-radius: 1.6vw;
  background: #fff;
  overflow: hidden;
  padding: 1.7vw 1.9vw;
  position: relative;
}

h2,
h3,
h4,
p {
  margin: 0;
}

.progress-card {
  grid-area: progress;
  background: #fce6e7;
  display: grid;
  gap: 1.4vh;
}

.metric-card {
  grid-area: metric;
  display: grid;
  gap: 1vh;
}

.users-card {
  grid-area: users;
  display: grid;
  align-content: start;
  gap: 0.8vh;
}

.team-card {
  grid-area: team;
  display: grid;
  align-content: start;
  gap: 1.2vh;
}

.agency-card {
  grid-area: agency;
  background: linear-gradient(150deg, #1c1f29, #0d1018);
  color: #fff;
  display: grid;
  align-content: space-between;
}

.hero-card {
  grid-area: hero;
  padding: 0;
  background: #fae3e5;
}

.font-card {
  grid-area: font;
  display: grid;
  align-content: start;
  gap: 1vh;
}

.design-card {
  grid-area: design;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff8fa;
  padding: 1.8vw 2vw;
}

.logo-card {
  grid-area: logo;
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 0.8vh;
}
/* First Box */
.card-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.card-top h2 {
  font-weight: 800;
  font-size: 15px;
  max-width: 11vw;
  margin-top: -6px;
}

.menu-btn {
  border: 0;
  background: transparent;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  cursor: pointer;
}

.ring-wrap {
  display: grid;
  place-items: center;
}

.ring {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, #fce6e7 90%, transparent 82% 100%),
    conic-gradient(#ff4e78 75%, #f9c9d4 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ring strong {
  font-size: 2.3vw;
}

.ring span {
  color: #555;
  font-size: .7vw;
}

.progress-card h3 {
  font-size: 2.5vw;
  line-height: 1;
}

.progress-card p {
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
  line-height: 1.4;
}

.progress-card p span,
.metric-card p span,
.users-card p span,
.team-card p span,
.play-card strong span {
  display: block;
}

.soft-btn,
.pink-btn {
  border: 0;
  border-radius: 100vh;
  font: inherit;
  cursor: pointer;
}

.soft-btn {
  justify-self: start;
  padding: 0.8vh 1.3vw;
  background: #fceded;
  font-size: 10px;
  font-weight: 700;
}

.soft-btn i{
  margin-left: 0.2vw;
}
/* Second Box */
.metric-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metric-card h3,
.users-card h3 {
  font-size: 50px;
  margin-top: -6px;
}

.badge-heart {
  width: 3vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fadcdd;
  color: #eb4457;
  display: grid;
  place-items: center;
  font-size: 1.2vw;
}

.chip {
  border: 1px solid #ececec;
  width: fit-content;
  border-radius: 100vh;
  padding: 0.8vh 1.2vw;
  color: #ff406f;
  font-weight: 700;
  font-size: 0.7vw;
}
.chip-sub {
  font-weight: 700;
  margin-top: -24px;
  margin-left: 100px;
  color: #3d3c3c;
  font-size: 0.6vw;
}
/* Third box */
.positive {
  color: #10b355;
  font-weight: 700;
}

.users-icon {
  position: absolute;
  right: 1.5vw;
  bottom: 1.5vw;
  width: 5.2vw;
  aspect-ratio: 1;
  border-radius: 1.4vw;
  display: grid;
  place-items: center;
  background: #ffecef;
  font-size: 2.2vw;
}
.users-card span{
  font-size: 12px;
}
/* Fourth Box */
.team-card h3 {
  font-size: 17px;
  font-weight: 800;
  line-height: 1.3;
}
.metric-increase {
  color: #ff406f;
  font-weight: 900;
}
.team-card p .metric-increase + span{
  color: #3d3c3c;
  margin-top: 10px;
  font-size: 12px;
}
.avatars,
.mini-avatars {
  display: flex;
  align-items: center;
}

.avatars img {
  margin-top: 2px;
  width: 3.2vw;
  height: 3.2vw;
  object-fit: cover;
  border-radius: 50%;
  border: 0.15vw solid #fff;
  margin-left: -0.6vw;
}

.avatars img:first-child,
.mini-avatars img:first-child {
  margin-left: 0;
}

.avatar-more {
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 50%;
  background: #30343f;
  color: #fff;
  display: grid;
  place-items: center;
  margin-left: -0.6vw;
}

.team-card hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #e6e6e6;
  margin: 0.6vh 0;
}

.team-card h2 {
  font-size: clamp(2.8rem, 4.8vw, 5rem);
  line-height: 1;
}

.team-card h4 span {
  display: block;
  font-weight: 800;
}
.tc-usericon {
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 20%;
  background: #fce3e5;
  color: #120706;
  display: grid;
  place-items: center;
  font-size: 1.6vw;
  margin-top: -45px;
  margin-left: 140px;
}
/*Fifth Box*/
.agency-card h3 {
  font-size: 1.5vw;
  line-height: 1.2;
}

.agency-card h3 span {
  color: #f7b8c5;
}
.agency-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

.agency-images img {
  width: 100%;
  height: 13vh;
  border-radius: 1.4vw;
  object-fit: cover;
}

.mini-avatars span {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: #ff5b80;
  color: white;
  display: grid;
  place-items: center;
  margin-left: -0.5vw;
}
.mini-avatars img {
  width: 2vw;
  height: 2vw;
  object-fit: cover;
  border-radius: 50%; 
  margin-left: -0.4vw;
}
/* Sixth Box */
.hero-image {
  position: relative;
  width: 100%;
  height: 350px;
  z-index: 10; 
  object-fit: contain;
  scale: 1.4 ;
  transform: translateY(-30px);     
  
}
.hc-circle{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background: radial-gradient( rgb(255, 233, 236),rgb(255, 166, 181));
  /* background-color: #03d7d7; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-card { 
  position: relative;
  overflow: visible !important; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-card::after {
  content: "";
  inset: 0;
  pointer-events: none;
}

.float-card {
  position: absolute;
  background: #ffffff;
  border-radius: 15px;
  padding: 1vh 1vw;
  z-index: 2;
}

.left-top {
  left: 1.4vw;
  top: 1.4vw;
  
}

.right-top {
  right: 1.4vw;
  top: 1.4vw;
}

.left-bottom {
  left: 1.4vw;
  bottom: 1.6vw;
  border-radius: 50px;
}
.left-bottom .play{
  width: 2.7vw;
  height: 2.6vw;  
  border-radius: 50%;
  font-size: 20px;
  margin-left: -5px;
}
.left-bottom .play i{
  font-size: 1.4rem;
  padding-left: 1.2px;
} 
.left-bottom strong{
  font-size: 14px;
  color: #3b4261;
  font-weight: 900;
  line-height: 1;
}
.left-bottom small{
  font-size: 10px;
  color: #3d3c3c;
}

.right-bottom {
  right: 1.4vw;
  bottom: 1.6vw;
  display: grid;
  gap: 0.4vw;
}

.play-card {
  display: flex;
  align-items: center;
  gap: 0.7vw;
}

.play {
  width: 2.6vw;
  height: 2.6vw;
  border-radius: 50%;
  background: #ff5a80;
  color: #fff;
  display: grid;
  place-items: center;
}

.font-card h3 {
  margin-top: -13px;
  font-size: 1.1vw;
}
.font-card p{
  margin-top: -35px;
  font-weight: 700;
  font-size: 10px;
}
.font-card .Aa{
  font-family: 'Sk-Modernist';
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background-color: #fcdedf;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 140px;
  margin-top: -20px;
  float: right;
}

.swatches {
  display: flex;
  gap: 0.6vw;
  margin-top: -1.5vh;
}

.swatches span {
  width: 2vw;
  height: 2vw;
  margin-left: -3px;
  border-radius: 0.7vw;
  background: var(--c);
  cursor: pointer;
}
.swatches span:hover{
  transform: scale(1.2);
}


.text-link {
  border: 0;
  background: transparent;
  text-align: left;
  margin-top: 5px;
  margin-left: -7px;
  font-weight: 900;
  font: inherit;
  font-size: .7vw;
  cursor: pointer;
}

.dark-btn {
  background-color: #1a1a1a;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  border: none;
  font-size: .6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: transform 0.2s ease;
  margin-top: 10px;
}

.blackimg {
  position: absolute;
  right: 20px;
  top: 45%;
  transform: translateY(-50%);
  width: 320px; /* Much larger than 40px */
  z-index: 10;
}

.blackimg img {
  margin-top: 20px;
  margin-left: 200px;
  width: 45%;
  height: auto;
  filter: drop-shadow(0 20px 40px rgba(0,0,0,0.15));
}

:root {
  --circle-size: 40px;
  --border-weight: 3px;
  --overlap: 10px;
}
.circle-container {
  position: relative;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
}

.circle {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  border: var(--border-weight) solid #1a1a1a;
  border-radius: 50%;
  background: transparent;
  gap: 10px;
}

/* Position the circles to match your image */
.top {
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 45%;
  left: 35%;
  transform: translateX(-50%);
}

.right {
 top: 45%;
  left: 65%;
  transform: translateX(-50%);
}

.logo-card h3 {
  font-size: 2.5vw;
  font-weight: 900;
  letter-spacing: 0.08vw;
}

.logo-card p {
  font-size: .9vw;
  font-weight: 700;
  margin-top: -10px;
}

.pink-btn {
  margin-top: 1.4vh;
  background: #ffc4d1;
  padding: 1.2vh 2vw;
  font-weight: 700;
  font-size: .7vw;
}





/* Main box */

.float-card.small.left-top {
  padding: 1.5vw;
}

.float-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.float-card .header h3 {
  margin: 0;
  font-size: 11px;
  font-weight: 800;
  color:#1a1a1a;
}

.float-card .menu-icon {
  cursor: pointer;
  color: #333;
  font-size: 1.2rem;
  line-height: 1;
}

.chart-container {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: flex-end;
}

.chart-container svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.chart-container .line {
  fill: none;
  stroke: #ff5a6a;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chart-container .area {
  fill: rgba(255, 90, 106, 0.1);
}

.chart-container .point {
  fill: #ff5a6a;
}

.chart-container .end-point {
  fill: white;
  stroke: #ff5a6a;
  stroke-width: 4;
}
.chart-card {
  width: 380px;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin: 0 auto; 
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.chart-header h3 {
  margin: 0;
  font-size: .7rem;
  font-weight: 800;
  color: #333;
}

.menu-icon {
  font-size: 1.4rem;
  color: #888;
  cursor: pointer;
  line-height: 1;
}

.chart-body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.bar-groups {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px; 
  margin-bottom: 20px; 
}

.bar-group {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  gap: 6px; 
  width:15%;
}

.bar {
  width: 13px; 
  border-radius: 10px 10px 0 0; 
  transition: height 0.3s ease; 
}

.bar-pink {
  background-color: #fecdd3; 
}

.bar-yellow {
  background-color: #fbbf24; 
}

.bar-red {
  background-color: #f43f5e; 
}

.x-axis-line {
  border-top: 1px solid #eee;
  width: 100%;
  margin-top: -20px;
}

.x-axis-labels {
  margin-top: 4px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  color: #777;
  font-size: 0.5rem;
}

.x-axis-labels span {
  font-weight: 600;
  font-size: 8px;
  width: 100%;
  text-align: center;
}

.design-card h3 {
  /* margin-top:8px; */
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
}
.design-card p {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 200;
}